@import 'variables.scss';

body{
	font-family:$font_main;
	font-weight:$font_main_weight;
	font-size:$base_font_size;
	line-height:$base_line_height;
	color:$color_main;
	-webkit-font-smoothing: antialiased;
	&.dev{
		background:#ccc;
		min-height:10000px;
		.js-content-editable{
			outline:rgba($action_3,0.7) dashed 2px !important;
			outline-offset: -2px;
			&:hover{
				outline-color:$action_1 !important;
				outline-style:solid !important;
			}
		}
		section, header, nav, footer{
			&.js-content-editable{
				outline-width:10px !important;
				outline-offset: -10px;
			}
		}
	}
}

nav, header, section, footer{
	position:relative;
}

header, section{
	overflow:hidden;
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-size:cover;
}

header{
	nav{
		position:absolute;
		top:0;
		left:0;
		z-index:1000;
	}
}

nav{
	width:100%;
	&.transparent{
		background:transparent;
	}
}

a, button{
	cursor:pointer;
	transition:all 0.25s;
	&:hover{
		text-decoration:none;
	}
	&:active, &:focus{
		text-decoration:none;
		outline:none;
	}
}

button{
	border:none;
	outline:none !important;
}

input, textarea{
	border:0;
	outline:none;
	background:transparent;
	color:$color_main;
	resize:none;
}

label{
	margin-bottom:0;
	font-weight:$font_main_weight;
	cursor:pointer;
}

h1, h2, h3, h4, h5, h6{
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	margin:0;
	font-weight:$font_heading_weight;
	font-family:$font_heading;
}

h1, h2{
	font-size:58px;
	line-height:70px;
	&.big{
		font-size:72px;
		line-height:86px;
	}
	&.small{
		font-size:42px;
		line-height:52px;
		font-weight:$font_heading_weight;
	}
}

h3{
	font-size:42px;
	line-height:52px;
}

b, strong{
	font-weight:$bold;
}




/* Common responsive styles */




/* Smaller than 1200px */
@media(max-width:1199.98px){
	
	header, section{
		&[class^="pt-"], &[class*=" pt-"]{
			padding-top:80px;
		}
		&[class^="pb-"], &[class*=" pb-"]{
			padding-bottom:80px;
		}
	}
	h1, h2, h3, .text-adaptive{
		br{
			display:none;
		}
	}
	h1, h2{
		font-size:52px;
		line-height:62px;
		&.big{
			font-size:62px;
			line-height:72px;
		}
		&.small{
			font-size:36px;
			line-height:46px;
		}
	}
	h3{
		font-size:36px;
		line-height:46px;
	}
	.navigation_mobile{
		display:block;
	}
	
}

/* Smaller than 992px */
@media(max-width:991.98px){
	
	h1, h2{
		font-size:42px;
		line-height:52px;
		&.big{
			font-size:52px;
			line-height:62px;
		}
		&.small{
			font-size:32px;
			line-height:42px;
		}
	}
	
	h3{
		font-size:32px;
		line-height:42px;
	}
	
	.text-adaptive{
		&.f-24{
			font-size:22px;
			line-height:32px;
		}
		&.f-22{
			font-size:20px;
			line-height:30px;
		}
		&.f-20{
			font-size:18px;
			line-height:28px;
		}
	}
	
	.alert{
		top:10px;
		left:20px;
		right:20px;
		transform:none;
		width:auto;
		padding-left:40px;
	}
}

/* Smaller than 768px */
@media(max-width:767.98px){
	
	h1, h2{
		font-size:32px;
		line-height:42px;
		&.big{
			font-size:42px;
			line-height:52px;
		}
		&.small{
			font-size:26px;
			line-height:36px;
		}
	}
	
	h3{
		font-size:26px;
		line-height:36px;
	}
	
	.text-adaptive{
		&.f-24{
			font-size:20px;
			line-height:30px;
		}
		&.f-22{
			font-size:18px;
			line-height:28px;
		}
		&.f-20{
			font-size:16px;
			line-height:26px;
		}
		&.f-18{
			font-size:16px;
			line-height:26px;
		}
	}
	
	.btn{
		&.lg{
			height:50px;
			line-height:50px;
			padding:0 30px;
			font-size:18px;
			font-weight:$medium;
			&[class^="border-"], &[class*=" border-"]{
				line-height:46px;
			}
		}
		&.xl{
			height:60px;
			line-height:60px;
			padding:0 35px;
			font-size:18px;
			font-weight:$medium;
			&[class^="border-"], &[class*=" border-"]{
				line-height:56px;
			}
		}
	}
	
	.input{
		&.lg{
			height:50px;
			font-size:18px;
			font-weight:$medium;
		}
	}
}

/* Smaller than 576px */
@media(max-width:575.98px){
	
	h1, h2{
		font-size:26px;
		line-height:36px;
		&.big{
			font-size:32px;
			line-height:42px;
		}
		&.small{
			font-size:22px;
			line-height:32px;
		}
	}
	
	.btn{
		&.xl{
			height:50px;
			line-height:50px;
			padding:0 30px;
			&[class^="border-"], &[class*=" border-"]{
				line-height:46px;
			}
		}
	}
}



/* From template I found online */



.navigation_8{
	@media(max-width:575.98px){
		a{
			margin:0 10px;
		}
	}
}



/* For my projects and essays */
